# The Caddyfile is an easy way to configure your Caddy web server.
#
# Unless the file starts with a global options block, the first
# uncommented line is always the address of your site.
#
# To use your own domain name (with automatic HTTPS), first make
# sure your domain's A/AAAA DNS records are properly pointed to
# this machine's public IP, then replace ":80" below with your
# domain name.

:80 {
	# Set this path to your site's directory.
	root * /usr/share/caddy

	# Enable the static file server.
	file_server

	# Another common task is to set up a reverse proxy:
	# reverse_proxy localhost:8080

	# Or serve a PHP site through php-fpm:
	# php_fastcgi localhost:9000
}

www.t-digi.com {
        root * /app/front
        file_server
        try_files {path} /index.html
}

t-digi.com {
	redir https://www.{host}{uri}
}

chop.t-digi.com {
        root * /app/front
        file_server
        try_files {path} /index.html
}

chop-api.t-digi.com {
    @cors_preflight {
	method OPTIONS
    }
    request_body {
        max_size 10MB
    }

    reverse_proxy 0.0.0.0:8090 {
        transport http {
            read_timeout 360s
        }
	
	header_down -Access-Control-Allow-Origin
    }

    @options {
        method OPTIONS
    }

    header {
        Access-Control-Allow-Origin *
        Access-Control-Allow-Credentials true
        Access-Control-Allow-Methods *
        Access-Control-Allow-Headers *
        defer
    }
}
# Refer to the Caddy docs for more information:
# https://caddyserver.com/docs/caddyfile

coco-iam-api.t-digi.com {
    @cors_preflight {
        method OPTIONS
    }
    request_body {
        max_size 10MB
    }

    reverse_proxy 0.0.0.0:2026 {
        transport http {
            read_timeout 360s
        }

        header_down -Access-Control-Allow-Origin
    }

    @options {
        method OPTIONS
    }

    header {
        Access-Control-Allow-Origin *
        Access-Control-Allow-Credentials true
        Access-Control-Allow-Methods *
        Access-Control-Allow-Headers *
        defer
    }
}

coco-iam.t-digi.com {
        root * /app/coco-iam-front
        file_server
        try_files {path} /index.html
}
