@import "tailwindcss";

:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  margin: 0;
}

@custom-variant dark (&:where(.dark, .dark *));

@theme {
  --color-surface-950: #16171c;
  --color-surface-900: #17181e;
  --color-surface-800: rgb(44, 45, 56);
  --color-surface-700: #272832;
  --color-surface-500: #373842;
  --color-surface-300: #474852;
  --color-surface-100: #575862;
  --color-surface-50: #676872;
}